.container{
  background-color: #f7f7f7;
  border-radius: 0.6%;
  margin-top: 10px;
  width: 900px;
}
.game-image{
  height: 400px;
  width: 350px;
  top: 0px;
  margin-right: 10px;
  background-size: cover;
}
.game-details{
  width: 400px;

  h1{
    font-size: 36px;
    font-weight: bold;
    color: black;
  }

  #description{
    opacity: 0.5;
  }
  #genre{
    font-weight: bolder;
  }

  .pricing{
  display:flex;
  flex-direction: row;

    .price{
      font-size: 24px;
    }

    .btn-primary.rent-show{
      margin-left: 23%;
      padding-right: 42px;
      padding-left: 42px;
      font-weight: bold;
    }
  }

  .icon-stuff{
    display: flex;
    flex-direction: row;
    margin-top: 10px;

    .platform{
      // position: relative;
    }

    .location{
      font-weight: bolder;
      margin-left: 100px;
    }

    #platform-text{
      font-weight: bold;
      font-size: 18px;
    }
  }

  .location-name{
    font-weight: bold;
    font-size: 24px;
    float: right;
    margin-right: 38%;
  }
}

.back-to-search{
  margin-top: 1%;
  margin-left: 4.2%;
}
.reviews{
  text-align: center;
  h1{
    font-size: 24px;
  }
  .line{
    color: black;
  }
}

.show-icon {
  float: left;
}

#game-detail-icon {
  opacity: 0.5;
  margin-left: 36%;
  font-size: 57px;
}

.game-flex{
  display: flex;
  justify-content: space-evenly;
  margin-top : 25px;

}

.show-links{
  display: flex;
  justify-content: space-between;
  padding-top: 2%;

  .rcreate-btn{
    margin-top: 1%;
  }
}




