<h1>Here are all of your bookings</h1>

<ul>
<% @bookings.each do |booking| %>
  <li>
    <p><%= link_to booking.game.name, booking_path(booking) %> <%= booking.status %> </p>
  </li>
<% end %>
</ul>

<%= link_to "To games search page", games_path %>
