<div class="bookings" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path("AllGames.png", width: 800, height: 500, crop: :thumb) %>)">
  <div class="container remove-margin">
  <h2 class="text-center">Here are all of your bookings...</h2>
    <div class="row">
    <% current_user.bookings.each do |booking| %>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <div class="booking-cards">
        <div class="results-card">
        <%= cl_image_tag booking.game.photo %>
          <div class="results-card-description">
            <h1><%= link_to booking.game.name, booking_path(booking)  %></h1>
          </div>
        </div>
      </div>
      </div>
    <% end %>
    </div>
  </div>
  <p class="text-center returned"><%= link_to "To games search page", games_path, class: "btn btn-primary" %></p>
</div>

