<div class="footer">
  <div class="footer-links">
    <a href="#">Terms</a>
    <a href="#">Sitemap</a>
    <a href="#">About us</a>
  </div>

  <div class="social-media">
    <a style="padding-left:25px;" href="#"><i class="fab fa-facebook-f"></i></a>
    <a style="padding-left:25px;" href="#"><i class="fab fa-twitter"></i></a>
  </div>

</div>
