<div class="footer">
  <div class="footer-links">
    <a href="#">Terms</a>
    <a href="#">Sitemap</a>
    <a href="#">About us</a>
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-details">
      This is a test footer. More to come soon.
  </div>
</div>
