/* The the actual booking of game page Bookings new */
.detailed-form {
 color: #ffffff;
}

.booking-description {
  width: 800px;
  color: #dce1e9;
}

.booking-title {
  color: #ffffff;
}

.booking-results {
  margin: 100px 150px;
  justify-content: space-between;
  padding: 5px;
}

.calender{
  margin-top: 20px;
  border-radius: 50px;
}

/* The bookings index page */

.booking-cards {
  margin: 20px;
}

.bookings {
  background-size: cover;
}

.remove-margin {
  margin-top: 0px !important;
  background: rgba(0, 0, 0, 0) !important;
}

