/* The the actual booking of game page Bookings new */
.detailed-form {
 color: #ffffff;
}

.booking-description {
  width: 800px;
  color: #dce1e9;
}

.booking-title {
  color: #ffffff;
}

.booking-results {
  margin: 100px 150px;
  justify-content: space-between;
  padding: 5px;
}

.rent {
    border-radius: 50px;
}

.calender{
  margin-top: 20px;
  border-radius: 50px;
}

/* The bookings index page */

.booking-cards {
  margin: 20px;
}

.bookings {
  background-size: cover;
  height: 100vh;
}

.remove-margin {
  margin-top: 0px !important;
  background: rgba(0, 0, 0, 0) !important;
}

.btn {
  border-radius: 50px;
}

/* Booking show page for 1 game */

.booked-show {
  display: flex;
  justify-content: space-evenly;
  margin-top : 25px;
}

.game-holder {
  width: 100%;
}

.booked {
  background: rgba(0, 0, 0, 0) !important;
  padding-bottom: 30px !important;
    h1 {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
  }
}

.game-booked-details {
  width: 400px;

  h1{
    font-size: 36px;
    font-weight: bold;
    color: white;
  }
}

.icon-stuff p {
  color: #ffffff;
}

