.container.game{
  background-color: #f7f7f7;
  border-radius: 0.6%;
  margin-top: 10px;
  width: 900px;
}

.form{
  border-radius: 1%;
}
.form-back{
  margin-bottom: 10px;
}
.form-field{
  opacity: 0.4;
}
