.results {
  margin-top: 100px;
  padding: 50px;
  margin-bottom: 100px;
}

.returned {
  margin: 0px !important;
  padding-bottom: 30px !important;
}

.results-card {
  padding: 5px;
  // height: 530px;
  width: 210px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-color: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  opacity: 0.9;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  &:hover{
    opacity: 1;
  }
}

.results-card-image{
  height: 260px;
  width: 196px;
  background-size: cover;
}

.results-card-link{
    background-color: transparent;
    height: 542px;
    width: 225px;
    top: 0;
    right: 14px;
    left: 11px;
}

.top {
  width: 85px;
  margin-right: 0px;
}


.results-card-description {
  width: 205px;
  // height: 250px;
  h2{
    font-family: Helvetica, sans-serif;
    color: black;
    font-size: 30px;
    &:hover{
      text-decoration: none;
    }
  }
  h1{
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
  }
  h6{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
  }
}

.results-card img {
  height: 260px;
  width: 196px;
}

.results-card-link{
    background-color: transparent;
    height: 542px;
    width: 225px;
    top: 0;
    right: 14px;
    left: 11px;
}

.top {
  width: 85px;
  margin-right: 0px;
}


i{
  font-size: 25px;
  opacity: 0.5px;
}

a {
  text-decoration: none !important;
}


.title {
  margin-bottom: 50px;
}

.search2 {
  color: #363732;
  margin: 5px;
}



