.review-card{
  padding: 5px;
  width: 870px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-color: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  opacity: 0.9;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);

  &:hover{
    opacity: 1;
  }



  .review-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // padding-left: 12%;

    .left {
      display: flex;
    }

    h2{
      text-align: center;
      font-size: 23px;
      color: black;
      margin-left: 0px;
      margin-top: 0%;
      margin-bottom: 0%;
    }
    p{
      text-weight: bold;
    }
  }
  .user-avatar{
    background-size: cover;
    width: 76px;
    height: 76px;
    border-radius: 52%;
  }

  .avater-name{
    display: flex;
    justify-content: space-between;
    flex-direction: row;


    h4{
      font-size: 20px;
      margin-top: 0px;
      margin-left: 0px;
      margin-bottom: 28px;
      // margin-right: 61%;
    }
    .fa-star{
      color: yellow;
    }
    p{
      font-weight: bold;
    }
  }

  .description-box{
    width: 99%;
    // border: 1px solid rgba(0,0,0,0.8);

    p{
      padding-left: 10px;
      font-size: 15px;
    }
  }


  .review-delete{
    font-size: 13px;

  }
}


