body {
  background: linear-gradient(0.25turn, #d21111, #474350, #1268aa);
}

h2 {
  color: #ffffff;
  font-family: Helvetica, sans-serif;
}

.search {
  margin: 50px;
}

.flex {
  margin: 50px;
}

#search {
  width: 400px;
}
