body {
  background: linear-gradient(0.25turn, #960200, #474350, #282f44);
}

h2 {
  color: white;
  font-family: Helvetica, sans-serif;
}

.search {
  margin: 50px;
}

.flex {
  margin: 50px;
}

#search {
  width: 400px;
}

.btn{
  font-weight: bold;
}
